.top {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 0;
}

.icon i{
    margin-right: 15px;
}

.icon img{
    width:30px;
    margin-right: 15px;

}

.navbar {
    list-style: none;
    display: flex;
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:43px;
    background-color: rgb(205, 247, 233);
    padding-top: 5px;
    padding-bottom: 0;
}

.social_btn {
    display: flex;
    list-style: none;
    float: right;
}

.info {
    width: 40px;
}

.brand {
    margin-top: 40px;
    text-align: center;
}

.brand img {
    width: 80%;
}

.logos-list {
    display: flex;
    list-style: none;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    overflow-x: scroll;
}

.logo {
    margin-right: 15px;
    border: groove;
    border-top: 0;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

.logopic {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.box {
    padding: 10px;
    width: 100%;
    border: groove;
    border-color: red;
    position: relative;
    top: 56px;
}

.price {
    font-weight: 800;
    font-size: 35px;
}

.minpic {
    border: groove;
    border-color: red;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.feeds {
    position: absolute;
    top: 100px;
    /* bottom: 80px; */
}

.phone {
    background-size: contain;
    background-repeat: no-repeat;
}

.phoneName {
    font-weight: 800;
    font-size: 20px;
}

.cart_btn {
    background-color: red !important;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.img_list {
    margin-top: 15px;
}

.imgbox {
    max-height: 100px;
    max-width: 100px;
}

.brand_product_list {
    list-style: none;
    display: flex;
    overflow-x: scroll!important;
}

.a {
    height: 100px;
    width: 100px;
    padding:0;
    
}

.formBox {
    position: relative;
    top: 70px;
}

.colspace {
    margin-top: 30px;
}

.table_img {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
.hh{
    position: absolute !important;

}

.rltv{
    position: relative;
    top:70px;
    width:100%;
    
}

.this img{
 height:480px !important;
}

.z{
    position: relative;
    top:60px;
}
.liveimg{
    object-fit: contain;
}
.a img{
    object-fit:contain;
    width: 100%;
    height: 100%;


}